<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CoffeeShopDbConnectionString"
            connectionString="Data Source=DESKTOP-M8I8DQ1\SQLEXPRESS;Initial Catalog=CoffeeShopDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
      <add name="CoffeeShopApp.Properties.Settings.CoffeeShopDbConnectionString"
          connectionString="Data Source=DESKTOP-M8I8DQ1\SQLEXPRESS;Initial Catalog=CoffeeShopDb;Integrated Security=True"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>